# In this notebook, the datasets are sourced into dataframes, initial data cleaning and data sent to database (Postgres) #

# Data Cleaning for customers dataset #

## Columns in customer dataset ##

1. customer_id
2. customer_unique_id
3. customer_zip_code_prefix
4. customer_city
5. customer_state

## Import necessary libraries ##

In [1]:
import numpy as np
import pandas as pd

from zipfile import *
# warnings supression
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Unzip the file ##
unzip data (the trailing exclamation mark passes a command directly to the shell, not to the python interpreter, so this works as if you'd execute the command to unzip the file in your terminal window)

In [ ]:
!unzip data/olist_customers_dataset.csv.zip

In [ ]:
path ='data/'
zip_file = 'olist_customers_dataset.csv.zip'
with ZipFile(path+zip_file, 'r') as zip_ref:
        zip_ref.extractall(path)

In [3]:
customers_dataset = pd.read_csv("data/olist_customers_dataset.csv")
customers_dataset.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

## Know your data ##

In [4]:
customers_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [5]:
customers_dataset.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [6]:
customers_dataset.customer_id.nunique()

99441

In [7]:
customers_dataset.customer_unique_id.nunique()

96096

There are multiple customers associated with one unique customer ID. It may be the case that there are multiple family members having different customer IDs but associated with one unique customer ID

# Data cleaning for the product category name #

In [8]:
product_category_dataset = pd.read_csv('data/product_category_name_translation.csv')

In [9]:
product_category_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [10]:
product_category_dataset['product_category_name_english'].unique()

array(['health_beauty', 'computers_accessories', 'auto', 'bed_bath_table',
       'furniture_decor', 'sports_leisure', 'perfumery', 'housewares',
       'telephony', 'watches_gifts', 'food_drink', 'baby', 'stationery',
       'tablets_printing_image', 'toys', 'fixed_telephony',
       'garden_tools', 'fashion_bags_accessories', 'small_appliances',
       'consoles_games', 'audio', 'fashion_shoes', 'cool_stuff',
       'luggage_accessories', 'air_conditioning',
       'construction_tools_construction',
       'kitchen_dining_laundry_garden_furniture',
       'costruction_tools_garden', 'fashion_male_clothing', 'pet_shop',
       'office_furniture', 'market_place', 'electronics',
       'home_appliances', 'party_supplies', 'home_confort',
       'costruction_tools_tools', 'agro_industry_and_commerce',
       'furniture_mattress_and_upholstery', 'books_technical',
       'home_construction', 'musical_instruments',
       'furniture_living_room', 'construction_tools_lights',
       'industry_commerce_and_business', 'food', 'art',
       'furniture_bedroom', 'books_general_interest',
       'construction_tools_safety', 'fashion_underwear_beach',
       'fashion_sport', 'signaling_and_security', 'computers',
       'christmas_supplies', 'fashio_female_clothing',
       'home_appliances_2', 'books_imported', 'drinks', 'cine_photo',
       'la_cuisine', 'music', 'home_comfort_2',
       'small_appliances_home_oven_and_coffee', 'cds_dvds_musicals',
       'dvds_blu_ray', 'flowers', 'arts_and_craftmanship',
       'diapers_and_hygiene', 'fashion_childrens_clothes',
       'security_and_services'], dtype=object)

# Data cleaning for products dataset #

## Unzip the file ##

In [11]:
path ='data/'
zip_file = 'olist_products_dataset.csv.zip'
with ZipFile(path+zip_file, 'r') as zip_ref:
        zip_ref.extractall(path)

In [12]:
products_dataset = pd.read_csv('data/olist_products_dataset.csv')

In [13]:
products_dataset.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [14]:
products_dataset.rename(columns={'product_name_lenght':'product_name_length', 'product_description_lenght': 
'product_description_length'}, inplace=True)

In [ ]:
products_dataset.head()

# Join product category dataset to product dataset #

In [15]:
products_dataset_eng = products_dataset.merge(product_category_dataset, on='product_category_name', how='left')

In [16]:
products_dataset_eng.head()

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [17]:
products_dataset_eng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_category_name          32341 non-null  object
 2   product_name_length            32341 non-null  float64
 3   product_description_length     32341 non-null  float64
 4   product_photos_qty             32341 non-null  float64
 5   product_weight_g               32949 non-null  float64
 6   product_length_cm              32949 non-null  float64
 7   product_height_cm              32949 non-null  float64
 8   product_width_cm               32949 non-null  float64
 9   product_category_name_english  32328 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.8+ MB

In [18]:
products_dataset_eng['product_category_name'].nunique()

73

In [19]:
products_dataset_eng[products_dataset_eng['product_category_name_english'].isnull()]['product_category_name'].unique()

array([nan, 'pc_gamer', 'portateis_cozinha_e_preparadores_de_alimentos'],
      dtype=object)

In [20]:
products_dataset_eng.loc[products_dataset_eng['product_category_name'] == 'pc_gamer', 'product_category_name_english'] = 'pc_gamer'

In [21]:
products_dataset_eng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_category_name          32341 non-null  object
 2   product_name_length            32341 non-null  float64
 3   product_description_length     32341 non-null  float64
 4   product_photos_qty             32341 non-null  float64
 5   product_weight_g               32949 non-null  float64
 6   product_length_cm              32949 non-null  float64
 7   product_height_cm              32949 non-null  float64
 8   product_width_cm               32949 non-null  float64
 9   product_category_name_english  32331 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.8+ MB

In [22]:
products_dataset_eng.loc[products_dataset_eng['product_category_name'] == 'portateis_cozinha_e_preparadores_de_alimentos', 'product_category_name_english'] = 'kitchen_portables_and_food_preparators'

In [23]:
products_dataset_eng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_category_name          32341 non-null  object
 2   product_name_length            32341 non-null  float64
 3   product_description_length     32341 non-null  float64
 4   product_photos_qty             32341 non-null  float64
 5   product_weight_g               32949 non-null  float64
 6   product_length_cm              32949 non-null  float64
 7   product_height_cm              32949 non-null  float64
 8   product_width_cm               32949 non-null  float64
 9   product_category_name_english  32341 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.8+ MB

In [24]:
products_dataset_eng.drop(columns='product_category_name', inplace=True)

In [25]:
products_dataset_eng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_name_length            32341 non-null  float64
 2   product_description_length     32341 non-null  float64
 3   product_photos_qty             32341 non-null  float64
 4   product_weight_g               32949 non-null  float64
 5   product_length_cm              32949 non-null  float64
 6   product_height_cm              32949 non-null  float64
 7   product_width_cm               32949 non-null  float64
 8   product_category_name_english  32341 non-null  object
dtypes: float64(7), object(2)
memory usage: 2.5+ MB

## Final file for products_dataset and products_category_name_translation is products_dataset_eng ##

# Push the datasets to Postgres #

In [26]:
from dotenv import dotenv_values
needed_keys = ['host', 'port', 'database','user','password']
dotenv_dict = dotenv_values(".env_capstone")
sql_config = {key:dotenv_dict[key] for key in needed_keys if key in dotenv_dict}

import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://user:pass@host/database',
                        connect_args=sql_config
                        )

In [ ]:
schema = 'e-commerce'
table_name = 'customers_dataset'
import psycopg2
if engine!=None:
        try:
            customers_dataset.to_sql(name=table_name, # Name of SQL table
                            con=engine, # Engine or connection
                            if_exists='replace', # Drop the table before inserting new values
                            schema=schema, # Use schmea that was defined earlier
                            index=False, # Write DataFrame index as a column
                            chunksize=5000, # Specify the number of rows in each batch to be written at a time
                            method='multi') # Pass multiple values in a single INSERT clause
            print(f"The {table_name} table was imported successfully.")
        # Error handling
        except (Exception, psycopg2.DatabaseError) as error:
            print(error)
            engine = None

In [27]:
from sql_functions_capstone import get_engine
schema = 'e-commerce' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = get_engine() # assign engine to be able to query against the database
table_name = 'products_dataset'

In [ ]:
import psycopg2
if engine!=None:
        try:
            products_dataset_eng.to_sql(name=table_name, # Name of SQL table
                            con=engine, # Engine or connection
                            if_exists='replace', # Drop the table before inserting new values
                            schema=schema, # Use schmea that was defined earlier
                            index=False, # Write DataFrame index as a column
                            chunksize=5000, # Specify the number of rows in each batch to be written at a time
                            method='multi') # Pass multiple values in a single INSERT clause
            print(f"The {table_name} table was imported successfully.")
        # Error handling
        except (Exception, psycopg2.DatabaseError) as error:
            print(error)
            engine = None

# Data Sourcing for missing zip codes #

In [28]:
zip_file_dataset = pd.read_csv("data/zip_codes_missing.csv")
zip_file_dataset.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,Unnamed: 5,Unnamed: 6
0,83843,-26.0181,-49.4283,doce grande,PR,NaN,NaN
1,36248,-21.4273,-43.3603,conceicao do formoso,MG,NaN,NaN
2,36956,-20.0365,-41.3538,sao francisco do humaita,MG,NaN,NaN
3,28120,-21.7189,-43.9252,ibitioca,RJ,NaN,NaN
4,45534,-14.3501,-39.1719,taboquinhas,BA,NaN,NaN

In [29]:
zip_file_dataset

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,Unnamed: 5,Unnamed: 6
0,83843,-26.018100,-49.428300,doce grande,PR,NaN,NaN
1,36248,-21.427300,-43.360300,conceicao do formoso,MG,NaN,NaN
2,36956,-20.036500,-41.353800,sao francisco do humaita,MG,NaN,NaN
3,28120,-21.718900,-43.925200,ibitioca,RJ,NaN,NaN
4,45534,-14.350100,-39.171900,taboquinhas,BA,NaN,NaN
5,59299,-8.333000,-38.917000,poco de pedra,RN,NaN,NaN
6,36596,-20.610700,-42.536000,estevao de araujo,MG,NaN,NaN
7,42843,-12.823400,-38.234800,jaua,BA,NaN,NaN
8,29386,-20.336300,-41.392300,piacu,ES,NaN,NaN
9,85894,-24.781600,-54.235500,sao clemente,PR,NaN,NaN
10,58734,-7.137000,-37.049100,passagem,PB,NaN,NaN
11,28160,-21.220200,-41.462200,santo eduardo,RJ,NaN,NaN
12,75784,-16.921600,-47.709300,domiciano ribeiro,GO,NaN,NaN
13,36857,-20.970700,-42.181200,pinhotiba,MG,NaN,NaN
14,85138,-25.534620,-51.505970,colonia jordaozinho,PR,NaN,NaN
15,35408,-20.283000,-43.644200,glaura,MG,NaN,NaN
16,48967,-10.332071,-40.152975,nucleo residencial pilar,BA,NaN,NaN
17,49870,-10.125200,-37.105900,itabi,SE,NaN,NaN
18,28388,-20.981700,-41.848100,bom jesus do querendo,RJ,NaN,NaN
19,85118,-25.248100,-51.548300,palmeirinha,PR,NaN,NaN
20,13508,-22.280000,-47.545100,ajapi,SP,NaN,NaN
21,8980,-23.538900,-45.960400,nossa senhora do remedio,SP,NaN,NaN
22,48504,-10.552300,-38.793800,aribice,BA,NaN,NaN
23,55863,-7.653400,-35.468300,siriji,PE,NaN,NaN
24,86996,-23.610500,-51.858800,sao miguel do cambui,PR,NaN,
25,35242,-19.232500,-41.645500,cuiete velho,MG,NaN,NaN
26,65137,-2.523880,-44.178250,maioba,MA,NaN,NaN
27,87323,-16.715400,-43.854200,alto sao joao,PR,NaN,NaN
28,62625,-3.622600,-39.822200,missi,CE,NaN,NaN
29,28655,-22.076400,-42.409600,monnerat,RJ,NaN,NaN
30,58286,-6.600800,-35.145700,pitanga de estrada,PB,NaN,NaN
31,28575,-21.724800,-41.991800,jaguarembe,RJ,NaN,NaN
32,25840,-22.142700,-43.096900,bemposta,RJ,NaN,NaN
33,15903,-21.475300,-48.624600,guariroba,SP,NaN,NaN
34,38710,-18.703900,-46.044300,major porto,MG,NaN,NaN
35,95572,-29.211400,-49.934700,mampituba,RS,NaN,NaN
36,95275,-29.012200,-51.314500,nova padua,RS,NaN,NaN
37,28143,-21.948400,-41.134400,mussurepe,RJ,NaN,NaN
38,35104,-18.821100,-41.687800,sao vitor,MG,NaN,NaN
39,28530,-21.755300,-42.378900,sao sebastiao do paraiba,RJ,NaN,NaN
40,39103,-18.266700,-43.666700,guinda,MG,NaN,NaN
41,85958,-24.533800,-53.743100,perola independente,PR,NaN,NaN
42,44135,-12.383300,-38.868700,humildes,BA,NaN,NaN
43,19740,-22.269600,-50.544200,bora,SP,NaN,NaN
44,65830,-7.139600,-45.346400,sambaiba,MA,NaN,NaN
45,48793,-11.034800,-38.796100,caldas do jorro,BA,NaN,NaN
46,17390,-22.442300,-48.010600,sao sebastiao da serra,SP,NaN,NaN
47,95853,-29.894300,-51.484500,polo petroquimico de triunfo,RS,NaN,NaN
48,38627,-16.124600,-47.293800,palmital de minas,MG,NaN,NaN
49,29718,-19.309500,-40.684800,angelo frechiani,ES,NaN,NaN
50,6930,-23.878200,-46.793500,cipo-guacu,SP,NaN,NaN

In [30]:
from dotenv import dotenv_values
needed_keys = ['host', 'port', 'database','user','password']
dotenv_dict = dotenv_values(".env_capstone")
sql_config = {key:dotenv_dict[key] for key in needed_keys if key in dotenv_dict}

import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://user:pass@host/database',
                        connect_args=sql_config
                        )

In [ ]:
schema = 'e_commerce'
table_name = 'zip_codes_dataset'
import psycopg2
if engine!=None:
        try:
            zip_file_dataset.to_sql(name=table_name, # Name of SQL table
                            con=engine, # Engine or connection
                            if_exists='replace', # Drop the table before inserting new values
                            schema=schema, # Use schmea that was defined earlier
                            index=False, # Write DataFrame index as a column
                            chunksize=5000, # Specify the number of rows in each batch to be written at a time
                            method='multi') # Pass multiple values in a single INSERT clause
            print(f"The {table_name} table was imported successfully.")
        # Error handling
        except (Exception, psycopg2.DatabaseError) as error:
            print(error)
            engine = None